body {
  margin: 20px;
}

/*글꼴 */
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

/* 글자 크기 */
.wrapper {
  font-size: 20px;
}

.wrapper blockquote {
  font-size: 1.5em;
}

.like {
  font-size: 5vw;
}

/* 글꼴 스타일 */
h1 {
  font-style: italic;
}

/* 줄높이 */
.wrapper blockquote {
  font-size: 15px;
  line-height: 1.6;
}

.like {
  font-size: 30px;
}

/* 자간 조정하기 */
h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.1em;
}

/* 정렬 */
.bootcamp {
  height: 200px;
  border: 2px solid orange;
  padding: 20px;
  background-color: var(--yellow);
  text-align: center;
  /* line-height: 160px;  */
  align-content: center;
}

/* 글자 그림자 */
.bootcamp {
  text-shadow:
    1px 1px 2px orange,
    2px 2px 2px plum,
    3px 3px 2px purple,
    4px 4px 2px red;
}
