body {
  margin: 20px;
}

.wrapper {
  width: 500px;
  border: 2px solid red;
  position: relative;
}

/* position : relative */
.like {
  background-color: #ffc;
  position: relative;
  left: 50px;
  bottom: 20px;
}

/* position: absolute */
.bootcamp {
  background-color: #fcf;
  position: absolute;
  left: 50px;
  top: 100px;
}

/* position: fixed */
.school {
  background-color: #cff;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* position: fixed */
h1 {
  background-color: #cfc;
  position: sticky;
  top: 0;
  z-index: 10;
}
