body {
  margin: 20px;
}

/* float */
.wrapper {
  background-color: #ffc;
  width: 500px;
  margin: 20px 0;
  display: flow-root;

  div {
    border: 1px solid currentColor;
    height: 80px;
    margin: 10px;
  }

  .box1 {
    background-color: salmon;
    float: left;
  }

  .box2 {
    background-color: lightgreen;
    float: left;
  }

  .box3 {
    background-color: lightpink;
    float: left;
  }

  .box4 {
    background-color: aqua;
    float: left;
  }
}

.container {
  background-color: silver;
}
