body {
  margin: 20px;
}

/* 플렉스 박스 */
.like {
  background: #ffc;
  box-shadow: 0 0 0 1px red;
  inline-size: 1000px;
  block-size: 100px;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  /* flex-direction, flex-wrap 속성을 한 번에 선언 */
  flex-flow: row nowrap;
  /* 메인측 정렬 */
  justify-content: end;
  /* 교차측 정렬 */
  align-items: center;

  > div {
    inline-size: 200px;
    background: aqua;
  }
}

/* 플렉스 컨테이너 관련 속성 */
.lion {
  background: #ffc;
  box-shadow: 0 0 0 1px red;
  inline-size: 500px;
  block-size: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: end;
  align-content: end;

  > div {
    inline-size: 200px;
    background: aqua;
  }
}

/* 플렉스 아이템 관련 속성 */
.bootcamp {
  background: pink;
  box-shadow: 0 0 0 1px blue;
  inline-size: 400px;
  display: flex;
  flex-flow: row nowrap;

  > div {
    inline-size: 125px;
  }

  .bootcamp-item1 {
    background: skyblue;
    flex-shrink: 1;
  }

  .bootcamp-item2 {
    background: silver;
    flex-shrink: 2;
  }

  .bootcamp-item3 {
    background: lime;
    order: 1;
    flex-shrink: 1;
  }

  .bootcamp-item4 {
    background: salmon;
    order: -1;
    flex-shrink: 1;
  }
}

.frontend {
  background: pink;
  box-shadow: 0 0 0 1px blue;
  inline-size: 1000px;
  display: flex;
  flex-flow: row nowrap;

  > div {
    /* inline-size: 125px; */
    flex-basis: 0;
  }

  .frontend-item1 {
    background: skyblue;
    flex-grow: 1;
  }

  .frontend-item2 {
    background: silver;
    flex-grow: 0;
  }

  .frontend-item3 {
    background: lime;
    flex-grow: 0;
  }

  .frontend-item4 {
    background: salmon;
    flex-grow: 1;
  }
}
