body {
  margin: 20px;
}

h1 {
  background: rgba(0, 255, 0, 1);
  position: relative;
  z-index: 2;
}

/* stacking context */
.likelion {
  background: #ffc;
  border: 1px solid currentColor;
  block-size: 200px;
  position: relative;
  z-index: 3;

  .bootcamp,
  .frontend,
  .euid {
    border: inherit;
    inline-size: 50px;
    aspect-ratio: 1/1;
  }

  .bootcamp {
    border: inherit;
    inline-size: 50px;
    aspect-ratio: 1/1;
    background: rgba(255, 0, 0, 1);
    position: absolute;
    inset-block-start: -20px;
    inset-inline-start: 10px;
    z-index: 1;
  }

  .frontend {
    background: pink;
    position: absolute;
    z-index: 3;
  }

  .euid {
    background: skyblue;
    position: absolute;
    inset-block-start: -30px;
    z-index: 2;
  }
}

/* Cafe W 예씨 */
.cafe-w {
  border: 10px solid currentColor;
  inline-size: 500px;
  block-size: 200px;
  position: relative;
  background: pink;
  isolation: isolate;

  .hero {
    position: absolute;
    inset: 0;
    z-index: -1;
    inline-size: 90%;
    offset-block-end: 90%;
  }

  .star {
    background: #fff;
    border-radius: 50%;
  }

  .text {
    background: yellow;
    padding: 1em;
  }
}
