body {
  margin: 20px;
}

.term {
  --accent-color: #296897;
  --text-size: 1rem;
  display: flow-root;
  font-size: var(--text-size);

  .subject {
    font-weight: 700;
    color: var(--accent-color);
    font-size: 1.1em;
  }

  .subject,
  .description {
    float: right;
    width: calc(100% - 76px);
  }

  .thumbnail {
    float: left;
    margin-right: 16px;
  }

  .description {
    margin-top: 4px;
    font-size: 1em;
  }
}
