body {
  margin: 20px;
}

h1 {
  margin-block-end: 20px;
}

.members-wrapper {
  block-size: 500px;
  overflow: auto;
  position: relative;

  table {
    border: 1px solid var(--black);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .number {
    inline-size: 10%;
  }

  .name {
    inline-size: 20%;
  }

  .email {
    inline-size: 30%;
  }

  .phone {
    inline-size: 40%;
  }

  thead tr {
    position: sticky;
    top: 0;
  }

  thead tr,
  tfoot tr {
    background: var(--black);
    color: var(--white);
  }

  tbody tr:nth-child(even) {
    background: var(--gray);
  }

  th {
    white-space: nowrap;
  }

  th,
  td {
    text-align: center;
    padding: 1em 1em;
  }
}

/* 
thead {
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: var(--black);
  color: var(--white);
  height: 50px;

  th {
    font-size: 0.8rem;
    font-weight: 700;
  }
}

tbody {
  td {
    font-size: 0.8rem;
    font-weight: 400;
  }

  &:nth-child(even) {
    background: var(--gray);
  }
} */
