body {
  margin: 20px;
}

.notification {
  --black: #121212;
  --green: #22be61;
  --gray: #9b9a90;
  --white: #fff;

  --point-color: var(--green);
  --text-color: var(--gray);
  --bg-color: var(--white);

  border: 1px solid currentColor;
  color: var(--text-color);
  border-radius: 0.25rem;
  padding: 1.25rem;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1.25rem;
  align-items: center;

  .notification-icon {
    flex: 0 0 auto;

    rect {
      fill: var(--point-color);
    }
  }

  .notification-content {
    flex: 1 1 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 4px;

    strong,
    time {
      color: var(--point-color);
    }

    strong {
      font-size: 1.125rem;
      font-weight: 700;
    }

    time {
      font-size: 0.75rem;
    }

    p {
      font-size: 0.875rem;
      inline-size: 100%;
    }
  }
}

/* 레이아웃 */
.notification-wrapper {
  background: #ffc;
  .notification {
    --point-color: red;
  }
}
