body {
  margin: 20px;
}

/* 유틸리티 바 */
.utility-bar {
  text-transform: uppercase;
  font-size: 0;
  text-align: left;

  li {
    display: inline-block;
  }

  a,
  [aria-hidden='true'] {
    display: inline-block;
    font-size: 1rem;
    padding: 8px;
  }
}
